{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install XCode Command Line Tools if necessary
xcode-select --install || echo "XCode already installed"

# Install Homebrew if necessary
if which -s brew; then
    echo 'Homebrew is already installed'
else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    (
        echo
        echo 'eval "$(/opt/homebrew/bin/brew shellenv)"'
    ) >>$HOME/.zprofile
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi


# check if the user is the owner of the Homebrew installation
if [ "$(stat -f '%Su' $(brew --prefix))" = "$(whoami)" ]; then
# I can get explicitly installed brew packages with `brew leaves --installed-on-request`
brew bundle --file=/dev/stdin <<EOF

tap "lizardbyte/homebrew"
brew "lizardbyte/homebrew/sunshine"

brew "aria2"
brew "atuin"
brew "awscli@2"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "difftastic"
brew "dust"
brew "entr"
brew "eza"
brew "fish"
brew "ffmpeg"
brew "fish"
brew "fx"
brew "fzf"
brew "git-delta"
brew "glab"
brew "gum"
brew "jj"
brew "llm"
brew "mergiraf"
brew "mise"
brew "mpv"
brew "openjdk"
brew "qrcp"
brew "ripgrep"
brew "television"
brew "tokei"
brew "uv"
brew "yazi"
brew "yt-dlp"
brew "zmx"
brew "zoxide"

cask "bitwarden"
cask "db-browser-for-sqlite"
cask "font-monaspace"
cask "ghostty"
cask "netbird-ui"
cask "orbstack"
cask "raycast"
cask "syncthing-app"
cask "tableplus"
cask "visual-studio-code"

EOF
else
    echo "You are not the user who installed Homebrew, so we can't install the packages listed above."
fi
{{ end -}}
