if status is-interactive
    fish_add_path ~/.local/bin # yes, this is safely idempotent

    # Cache shell init outputs; regenerate if the binary is newer than the cache file
    # chezmoi will automatically remove these cached files when `chezmoi apply` is run
    set -l cache $__fish_config_dir/cached_init

    {{- if eq .chezmoi.os "darwin"}}
    if not test -f $cache/brew_shellenv.fish; or test /opt/homebrew/bin/brew -nt $cache/brew_shellenv.fish
        /opt/homebrew/bin/brew shellenv fish > $cache/brew_shellenv.fish
    end
    source $cache/brew_shellenv.fish
    {{ end -}}

    if not test -f $cache/atuin.fish; or test atuin -nt $cache/atuin.fish
        # atuin pty-proxy init fish > $cache/atuin.fish
        # the pty-proxy does not seem to work with fish on macos, though tbh I'm not sure exactly how it would appear differently.
        atuin init fish >> $cache/atuin.fish
    end
    source $cache/atuin.fish
    if not test -f $cache/zoxide.fish; or test zoxide -nt $cache/zoxide.fish
        zoxide init fish > $cache/zoxide.fish
    end
    source $cache/zoxide.fish

	# `mise activate fish | source` seems redundant when installed with homebrew
	# because of /opt/homebrew/share/fish/vendor_conf.d/mise-activate.fish
	#mise activate fish | source
else
	# Fallback for scripts and IDEs (non interactive)
    mise activate fish --shims | source
end
